body{
  margin: 0;
}
table{
  border-spacing: 0;
  border-right: 1px solid;
  border-top: 1px solid;
}
th{
  font-weight: normal;
}
.table{
  width: 100%;
  th,td{
    border-left: 1px solid;
    border-bottom: 1px solid;
  }
}
